---
title: Boards
---

  <div class="banner-style" id= "banner-bg-boards">
    <div class="container">
      <div class='text-left'>
      </div>
    </div>
    <div class="container">
    <div class="margin-top">
      <div class="text-header">
        <div class='text-left'>
          <div class="fadeInAndSlideDown">
            <h1>Our selection of hand-made shapes</h1>
            <h3>Take a look</h3>
          </div>
        </div>
      </div>
    </div>
    <a href="#boards"> <i class="fa fa-angle-down pulse" id="scroll-btn-white" data-sr="move 2px scale up 2%, over 1s"></i></a>
  </div>
</div>
<div id="boards" class="container-fluid margin-top">
  <div class="text-center">
    <br></br>
    <h3>Our shapes</h3>
    <div class="row padded" style="padding-left: 80px">
      <% data.boards.each do |board| %>
        <div class="col-xs-12 col-sm-4 board-layout">
          <h4><%=board.brand%></h4>
          <div>
            <%= image_tag board.picture, id: "img-board-reduce"%>
          </div>
          <p><%=board.name%></p>
          <p><%=board.bio%></p>
          <div class= "imgPrice">
            <p><%=board.price%></p>
            <button type="button" class="btn-board">
                Order it
            </button>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
